*{
margin: 0;
}

.containerTitle {
    display: flex ;
    /*border: 2px black solid;*/
    justify-content: flex-end;
    height: 27vh;
    background: linear-gradient(to right, rgb(196, 206, 204), rgb(82, 196, 177));
    border-radius: 15%;
}



.containerSlogan {
    border-radius: 20%;
    display: flex;
    background: linear-gradient(90deg, white, rgb(255, 132, 132));
    flex-direction: row;
    justify-content: end;

}

.containerEsquerdo {
    display: flex;
    margin-bottom: 0px;
}

.containerDireito {
    display: flex;
    flex-direction: column;
}

.containerDireitoSuperior {
    display: flex;
    margin-left: 5px;
}

.containerDireitoInferior {
    display: flex;
    cursor: pointer;
    margin-bottom: 0px;
}

.quadrado {
    display: flex;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 10px;
    width: 160px;
    height: 80px;
    background-color: white;
}

.quadradoInterno {
    display: flex;
    flex-direction: column;
    width: 74px;
    height: 74px;
    border-style: solid;
    border-color: white;
    background-color: rgb(82, 196, 177);
}

.quadradoInternoSuperior {
    display: flex;
    justify-content: flex-end;
    width: 74px;
    background-color: rgb(82, 196, 177);
    height: 15px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: white;
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.circuloInterno {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(82, 196, 177);
    
}

.title {
    color: white;
    font-family: 'Paytone One', sans-serif;
    text-align: right;
    font-size: 80px;
    padding-right: 50px;
    line-height: 70px;
}
@media (max-width: 670px) {
    .title {
    color: white;
    font-family: 'Paytone One', sans-serif;
    text-align: left;
    font-size: 40px;
    padding-right: 50px;

    }

@media (max-width: 670px) {
    .containerDireitoInferiorDireito {
        display: none;
    }
}
@media (max-width: 670px) {
    .containerDireitoInferiorEsquerdo {
        display: flex;
        text-align: right;
        align-items: flex-end;
    }
}
}

.sloganO {
    width: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: oblique;
    font-size: 20px;
}

.sloganConforto {
    width: 85px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: oblique;
    font-size: 20px;
}

.sloganDa {
    width: 35px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: oblique;
    font-size: 20px;
}

.sloganSimplicidade {
    width: 66px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 45px;
    color: white;
    font-style: oblique;
    font-size: 20px;
}

.sloganPonto {
    width: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: oblique;
    font-size: 20px;
}
.imgContainerEsquerdo{
    margin-top: 10px;
    /*margin: 5px;*/
    border: 1px;
    border-style: solid;
    border-color: white;
    border-right: 0px;
    width: 290px;
    height: 140px;
    /*margin: 10px;*/
    justify-content: center;
    border-radius: 15%;
}

@media (max-width: 1300px) {
    .imgContainerEsquerdo {
        display: none;
    }


}
.imgContainerDireito{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
    border: 1px;
    border-style: solid;
    border-color: white;
    width: 290px;
    height: 140px;
    /*margin: 10px;*/
    justify-content: center;
    border-radius: 15%;
}

@media (max-width: 980px) {
    .imgContainerDireito {
        display: none;
    }
}

.containerConteudo {
    margin-top: 10px;
    display: flex;
    height: 300px;
    background: linear-gradient(to right, rgb(196, 206, 204), rgb(82, 196, 177));
    height: 350px;
    border-radius: 20px;
}

.containerMenu {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-left: 14px;
    height: 340px;
    width: 300px;
}

.containerConteudoMenu {
    display: flex;
    justify-content: flex-start;
    border-radius: 40px 5px 10px 0px;
    margin-top: 14px;
    height: 308px;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: white;
}

.containerHomeEsquerdo {
    display: flex;
    margin: 2px;
    border-radius: 40px 5px 10px 0px;
    height: 100%;
    width: 170px;
    background-image: url(./luminosoDia.jpg);
    background-size: 100%;
}
.containerHomeDireitoMaior {
    display: flex;
    border-radius: 5px 5px 5px 5px;
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url(./faixada3.jpg);
    background-size: 100%;
}

.buttonMenu {
    text-align: left;
    height: 61px;
    width: 340px;
    background-color: #9e6b7c;
    color:white;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 1px;
}

.containerConteudoMenuEsquerdoQuemSomos {
    display: flex;
    width: 50%;
    height: 100%;
    text-align: justify;
    flex-direction: column;
    align-content: flex-start;
    margin: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}      

.containerConteudoMenuDireitoQuemSomos {
    display: flex;
    width: 50%;
    height: 100%;
}

.imgContainerConteudoMenuDireitoQuemSomos {
    width: 100%;
    height: 100%;
}

.containerConteudoMenuEsquerdoServicos {
    display: flex;
    width: 50%;
    height: 100%;
    text-align: justify;
    flex-direction: column;
    align-content: flex-start;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.containerConteudoMenuDireitoServicos {
    display: flex;
    width: 50%;
    height: 100%;
}

.imgContainerConteudoMenuDireitoServicos {
    width: 100%;
    height: 100%;
}

.containerConteudoMenuEsquerdoLocalizacao {
    display: flex;
    width: 30%;
    height: 100%;
    text-align: justify;
    flex-direction: column;
    align-content: flex-start;
    margin: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.imgContainerConteudoMenuDireitoLocalização {
    height: 100%;
}

.containerConteudoMenuEsquerdoReserva {
    display: flex;
    width: 30%;
    height: 100%;
    text-align: justify;
    flex-direction: column;
    margin: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border-right: 2px;
}

.containerConteudoMenuDireitoReserva {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.botaoContato {  
    display: flex;
    cursor: pointer; 
    border-style: solid;
    border-color: white; 
    border-radius: 50% 50% 50% 2%;
    font-size: 40px; 
    height: 200px; 
    width: 200px; 
    color: white;
    background-color: rgb(45, 230, 28);
}

.containerQuartos {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    width: 100%;
    height: 100%;
    border-radius: 40px 5px 10px 0px;
    background-color: white;
}

.containerQuartosVertical {
    display: flex;
    flex-direction: column;
    border-radius: 40px 5px 10px 0px;
    margin-right: 3px;
    background-color: white;
    width: 30%;
    height: 100%;
}

.tituloQuartos {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    justify-content: center;
    border-radius: 40px 0px 0px 0px;
    height: 15%;
    background-color: white;
}

.quarto1 {
    display: flex;
    background-size: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./quarto2.jpeg);
    cursor: pointer;
}

.quarto2 {
        display: flex;
        background-size: 100%;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-image: url(./quarto2.jpeg);
        cursor: pointer

}
.quarto3 {
    display: flex;
    background-size: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./quarto2.jpeg);
    cursor: pointer
}
.quarto4 {
    display: flex;
    background-size: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./quarto2.jpeg);
    cursor: pointer
}
.quarto5 {
    display: flex;
    background-size: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./quarto2.jpeg);
    cursor: pointer
}
.quarto6 {
    display: flex;
    background-size: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./quarto2.jpeg);
    cursor: pointer
}

.Copyright {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px;
    text-align: right;   
};