* {
    margin: 0px;
}

.div1 {
    height: 600px;
    width: 100%;
    display: flex;
    border-style: solid;
    border: 20px;
    border-color: blue;
    background-color: blue;
}
.div2 {
    border: 2px;
    height: 500px;
    width: 100%;
    border-color: black;
    background-color: black;
}
.div3 {
    border: 2px;
    border-color: green;
}
.div4 {
    border: 2px;
    border-color: yellow;
}
.div5 {
    border: 2px;
    border-color: red;
}